.center {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

* {
  font-family: Candara;
}

#root {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

.main {
  padding: 5em 5em 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #444;
}

a:visited {
  color: #fffce1;
}

.navheader a {
  color: #444;
}

.rightGraph {
  padding-left: 50px;
}

.footer {
  font-style: italic;
  color: DarkGray;
  padding: 2em 3.5em 0;
}

.footer a {
  color: black;
}

.graph {
  height: 30vh;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #444;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  /* background: DarkSlateGrey; */
  background: #b4bad2;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #444;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0 !important;
  padding: 0 !important;
}
